<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('./layout/head-common.html')%>
    <title>
      <%=htmlWebpackPlugin.options.title%>
    </title>
</head>

<body>
  <%= require('./layout/nav.html')%>
    <%= require('./layout/header.html')%>
      <div class="crumb">
        <div class="w">
          <div class="crumb-con">
            <a href="./index.html" class="link">Mall_test</a>
            <span>/</span>
            <span class="link-text"> <%=htmlWebpackPlugin.options.title%></span>
          </div>
        </div>
      </div>
      <div class="page-warp w">
        <%= require('./layout/nav-side.html')%>
          <div class="content with-nav">
            
          </div>
      </div>
      <%= require('./layout/foot-common.html')%>
</body>

</html>